#######################################
# Build
#######################################
**/bin/
**/obj/
**/out/
**/TestResults/

#######################################
# Rider / IntelliJ
#######################################
.idea/
*.sln.DotSettings.user
*.sln.iml
*.DotSettings.user

#######################################
# Visual Studio / .NET
#######################################
.vs/
*.user
*.suo
*.userprefs
*.csproj.user
*.dbmdl
*.cache
*.pdb
*.mdb
*.opendb
*.VC.db

#######################################
# Logs
#######################################
*.log

#######################################
# OS
#######################################
.DS_Store
Thumbs.db
desktop.ini

#######################################
# NuGet
#######################################
*.nupkg
.nuget/
packages/

#######################################
# Coverage / Tests
#######################################
coverage/
*.coverage
*.coveragexml
*.trx

#######################################
# Docker
#######################################
docker-compose.override.yml
*.env
.env

#######################################
# Temporary files
#######################################
*.tmp
*.temp
*.swp
*~
